@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.backgroundImage {
  background-image: url("/futuristicanime.webp");
}

.backgroundPosition{
  background-position: 75% 40%;
}

.shadowWhite {
  text-shadow: 0 0 5px white, 0 0 10px white;
}

